# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc

# SQLite Database
*.db

# Environment Variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.ds
.training_inout_data.py
.users.xlsx
.expense_classifier.joblib
